name: Cron
on:
  workflow_dispatch:
  schedule:
  - cron: '0 0 * * *'  # every day at midnight
jobs:
  update:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v17
      - uses: cachix/cachix-action@v10
        with:
          name: nix-community
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
        # Update all the providers
      - run: ./update.rb
        # Check that everything is still working
      - run: ./ci.sh
      - name: Commit & Push changes
        uses: actions-js/push@v1.3
        with:
          branch: 'master'
          github_token: ${{ secrets.GITHUB_TOKEN }}
